/* todo: change to using scss and utilize some of its power for demo purposes */

@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}
body {
  background: #d5d7d8 !important; /* todo: move to definitions*/
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}
h1,
h5 {
  font: 700;
  font-family: "Poppins", sans-serif;
}

p {
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
}
ul li {
  padding-right: 20px;
}

.introduction {
  line-height: 4rem;
}

.topic {
  line-height: 2rem;
}

.admin {
  padding-top: 2rem;
}

.description {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(39, 39, 39);
}

.underline {
  text-decoration: underline;
}

.test-tools {
  list-style-type: decimal;
  width: 15rem;
  margin: 0 auto;
  text-align: left;
}
